<div>
    <div class="panel-heading">
        <%= Gettext.dpgettext("static_pages", "oauth authorization exists page title", "Authorization exists") %>
    </div>
    <div class="panel-content">
        <%= raw Gettext.dpgettext("static_pages", "oauth token code message", "Token code is <br>%{token}", token: safe_to_string(html_escape(@token.token))) %>
    </div>
</div>
