<h2>Switch Frontend</h2>

<h3>After you submit, you will need to refresh manually to get your new frontend!</h3>

<%= form_for @conn, ~p"/akkoma/frontend", fn f -> %>
  <%= select(f, :frontend, @choices) %>

  <%= submit do: "submit" %>
<% end %>

