.importer-uploading {
  font-size: 1.5em;
  margin: 0.25em;
}
.exporter-processing {
  margin: 0.25em;
}
.autosuggest {
  position: relative;
}
.autosuggest-input {
  display: block;
  width: 100%;
}
.autosuggest-results {
  position: absolute;
  left: 0;
  top: 100%;
  right: 0;
  max-height: 400px;
  background-color: #121a24;
  background-color: var(--bg, #121a24);
  border-style: solid;
  border-width: 1px;
  border-color: #222;
  border-color: var(--border, #222);
  border-radius: 4px;
  border-radius: var(--inputRadius, 4px);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
  box-shadow: var(--panelShadow);
  overflow-y: auto;
  z-index: 1;
}
.block-card-content-container {
  margin-top: 0.5em;
  text-align: right;
}
.block-card-content-container button {
  width: 10em;
}
.mute-card-content-container {
  margin-top: 0.5em;
  text-align: right;
}
.mute-card-content-container button {
  width: 10em;
}
.domain-mute-card {
  -ms-flex: 1 0;
      flex: 1 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  padding: 0.6em 1em 0.6em 0;
}
.domain-mute-card-domain {
  margin-right: 1em;
  overflow: hidden;
  text-overflow: ellipsis;
}
.domain-mute-card button {
  width: 10em;
}
.autosuggest-results .domain-mute-card {
  padding-left: 1em;
}
.selectable-list-item-inner {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}
.selectable-list-item-inner > * {
  min-width: 0;
}
.selectable-list-item-selected-inner {
  background-color: #151e2a;
  background-color: var(--selectedMenu, #151e2a);
  color: var(--selectedMenuText, #b9b9ba);
  --faint: var(--selectedMenuFaintText, $fallback--faint);
  --faintLink: var(--selectedMenuFaintLink, $fallback--faint);
  --lightText: var(--selectedMenuLightText, $fallback--lightText);
  --icon: var(--selectedMenuIcon, $fallback--icon);
}
.selectable-list-header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  padding: 0.6em 0;
  border-bottom: 2px solid;
  border-bottom-color: #222;
  border-bottom-color: var(--border, #222);
}
.selectable-list-header-actions {
  -ms-flex: 1;
      flex: 1;
}
.selectable-list-checkbox-wrapper {
  padding: 0 10px;
  -ms-flex: none;
      flex: none;
}
.with-subscription-loading {
  padding: 10px;
  text-align: center;
}
.with-subscription-loading .error {
  font-size: 1rem;
}
.mutes-and-blocks-tab {
  height: 100%;
}
.mutes-and-blocks-tab .usersearch-wrapper {
  padding: 1em;
}
.mutes-and-blocks-tab .bulk-actions {
  text-align: right;
  padding: 0 1em;
  min-height: 2em;
}
.mutes-and-blocks-tab .bulk-action-button {
  width: 10em;
}
.mutes-and-blocks-tab .domain-mute-form {
  padding: 1em;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}
.mutes-and-blocks-tab .domain-mute-button {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-top: 1em;
  width: 10em;
}
.ModifiedIndicator {
  display: inline-block;
  position: relative;
}
.ModifiedIndicator .modified-tooltip {
  margin: 0.5em 1em;
  min-width: 10em;
  text-align: center;
}
.ServerSideIndicator {
  display: inline-block;
  position: relative;
}
.ServerSideIndicator .serverside-tooltip {
  margin: 0.5em 1em;
  min-width: 10em;
  text-align: center;
}

.mfa-backup-codes .warning {
  color: orange;
  color: var(--cOrange, orange);
}
.mfa-backup-codes .backup-codes {
  font-family: var(--postCodeFont, monospace);
}
.mfa-settings .mfa-heading, .mfa-settings .method-item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: baseline;
      align-items: baseline;
}
.mfa-settings .warning {
  color: orange;
  color: var(--cOrange, orange);
}
.mfa-settings .setup-otp {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.mfa-settings .setup-otp .qr-code {
  -ms-flex: 1;
      flex: 1;
  padding-right: 10px;
}
.mfa-settings .setup-otp .verify {
  -ms-flex: 1;
      flex: 1;
}
.mfa-settings .setup-otp .error {
  margin: 4px 0 0 0;
}
.mfa-settings .setup-otp .confirm-otp-actions button {
  width: 15em;
  margin-top: 5px;
}
.image-cropper-img-input {
  display: none;
}
.image-cropper-image-container {
  position: relative;
}
.image-cropper-image-container img {
  display: block;
  max-width: 100%;
}
.image-cropper-buttons-wrapper {
  margin-top: 10px;
}
.image-cropper-buttons-wrapper button {
  margin-top: 5px;
}
.profile-tab .bio {
  margin: 0;
}
.profile-tab .visibility-tray {
  padding-top: 5px;
}
.profile-tab input[type=file] {
  padding: 5px;
  height: auto;
}
.profile-tab .banner-background-preview {
  max-width: 100%;
  width: 300px;
  position: relative;
}
.profile-tab .banner-background-preview img {
  width: 100%;
}
.profile-tab .uploading {
  font-size: 1.5em;
  margin: 0.25em;
}
.profile-tab .name-changer {
  width: 100%;
}
.profile-tab .current-avatar-container {
  position: relative;
  width: 150px;
  height: 150px;
}
.profile-tab .current-avatar {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  border-radius: var(--avatarRadius, 4px);
}
.profile-tab .reset-button {
  position: absolute;
  top: 0.2em;
  right: 0.2em;
  border-radius: 5px;
  border-radius: var(--tooltipRadius, 5px);
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0.7;
  width: 1.5em;
  height: 1.5em;
  text-align: center;
  line-height: 1.5em;
  font-size: 1.5em;
  cursor: pointer;
}
.profile-tab .reset-button:hover {
  opacity: 1;
}
.profile-tab .reset-button svg {
  color: white;
}
.profile-tab .oauth-tokens {
  width: 100%;
}
.profile-tab .oauth-tokens th {
  text-align: left;
}
.profile-tab .oauth-tokens .actions {
  text-align: right;
}
.profile-tab-usersearch-wrapper {
  padding: 1em;
}
.profile-tab-bulk-actions {
  text-align: right;
  padding: 0 1em;
  min-height: 2em;
}
.profile-tab-bulk-actions button {
  width: 10em;
}
.profile-tab-domain-mute-form {
  padding: 1em;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}
.profile-tab-domain-mute-form button {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-top: 1em;
  width: 10em;
}
.profile-tab .setting-subitem {
  margin-left: 1.75em;
}
.profile-tab .profile-fields {
  display: -ms-flexbox;
  display: flex;
}
.profile-tab .profile-fields > .emoji-input {
  -ms-flex: 1 1 auto;
      flex: 1 1 auto;
  margin: 0 0.2em 0.5em;
  min-width: 0;
}
.profile-tab .profile-fields .delete-field {
  width: 20px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 0 0.2em 0.5em;
  padding: 0 0.5em;
}
.color-input {
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.color-input-field.input {
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex: 0 0 0px;
      flex: 0 0 0;
  max-width: 9em;
  -ms-flex-align: stretch;
      align-items: stretch;
  padding: 0.2em 8px;
}
.color-input-field.input input {
  background: none;
  color: #b9b9ba;
  color: var(--inputText, #b9b9ba);
  border: none;
  padding: 0;
  margin: 0;
}
.color-input-field.input input.textColor {
  -ms-flex: 1 0 3em;
      flex: 1 0 3em;
  min-width: 3em;
  padding: 0;
}
.color-input-field.input input.nativeColor {
  -ms-flex: 0 0 2em;
      flex: 0 0 2em;
  min-width: 2em;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  height: 100%;
}
.color-input-field.input .computedIndicator,
.color-input-field.input .transparentIndicator {
  -ms-flex: 0 0 2em;
      flex: 0 0 2em;
  min-width: 2em;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  height: 100%;
}
.color-input-field.input .transparentIndicator {
  background-color: #FF00FF;
  position: relative;
}
.color-input-field.input .transparentIndicator::before, .color-input-field.input .transparentIndicator::after {
  display: block;
  content: "";
  background-color: #000000;
  position: absolute;
  height: 50%;
  width: 50%;
}
.color-input-field.input .transparentIndicator::after {
  top: 0;
  left: 0;
}
.color-input-field.input .transparentIndicator::before {
  bottom: 0;
  right: 0;
}
.color-input .label {
  -ms-flex: 1 1 auto;
      flex: 1 1 auto;
}
.color-control input.text-input {
  max-width: 7em;
  -ms-flex: 1;
      flex: 1;
}
.shadow-control {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: center;
      justify-content: center;
  margin-bottom: 1em;
}
.shadow-control .shadow-preview-container,
.shadow-control .shadow-tweak {
  margin: 5px 6px 0 0;
}
.shadow-control .shadow-preview-container {
  -ms-flex: 0;
      flex: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.shadow-control .shadow-preview-container input[type=number] {
  width: 5em;
  min-width: 2em;
}
.shadow-control .shadow-preview-container .x-shift-control,
.shadow-control .shadow-preview-container .y-shift-control {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 0;
      flex: 0;
}
.shadow-control .shadow-preview-container .x-shift-control[disabled=disabled] *,
.shadow-control .shadow-preview-container .y-shift-control[disabled=disabled] * {
  opacity: 0.5;
}
.shadow-control .shadow-preview-container .x-shift-control {
  -ms-flex-align: start;
      align-items: flex-start;
}
.shadow-control .shadow-preview-container .x-shift-control .wrap,
.shadow-control .shadow-preview-container input[type=range] {
  margin: 0;
  width: 15em;
  height: 2em;
}
.shadow-control .shadow-preview-container .y-shift-control {
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: end;
      align-items: flex-end;
}
.shadow-control .shadow-preview-container .y-shift-control .wrap {
  width: 2em;
  height: 15em;
}
.shadow-control .shadow-preview-container .y-shift-control input[type=range] {
  transform-origin: 1em 1em;
  transform: rotate(90deg);
}
.shadow-control .shadow-preview-container .preview-window {
  -ms-flex: 1;
      flex: 1;
  background-color: #999999;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  background-image: linear-gradient(45deg, #666666 25%, transparent 25%), linear-gradient(-45deg, #666666 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #666666 75%), linear-gradient(-45deg, transparent 75%, #666666 75%);
  background-size: 20px 20px;
  background-position: 0 0, 0 10px, 10px -10px, -10px 0;
  border-radius: 4px;
  border-radius: var(--inputRadius, 4px);
}
.shadow-control .shadow-preview-container .preview-window .preview-block {
  width: 33%;
  height: 33%;
  background-color: #121a24;
  background-color: var(--bg, #121a24);
  border-radius: 10px;
  border-radius: var(--panelRadius, 10px);
}
.shadow-control .shadow-tweak {
  -ms-flex: 1;
      flex: 1;
  min-width: 280px;
}
.shadow-control .shadow-tweak .id-control {
  -ms-flex-align: stretch;
      align-items: stretch;
}
.shadow-control .shadow-tweak .id-control .shadow-switcher {
  -ms-flex: 1;
      flex: 1;
}
.shadow-control .shadow-tweak .id-control .shadow-switcher, .shadow-control .shadow-tweak .id-control .btn {
  min-width: 1px;
  margin-right: 5px;
}
.shadow-control .shadow-tweak .id-control .btn {
  padding: 0 0.4em;
  margin: 0 0.1em;
}
.font-control input.custom-font {
  min-width: 10em;
}
.font-control.custom {
  /* TODO Should make proper joiners... */
}
.font-control.custom .font-switcher {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.font-control.custom .custom-font {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.contrast-ratio {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
      justify-content: flex-end;
  margin-top: -4px;
  margin-bottom: 5px;
}
.contrast-ratio .label {
  margin-right: 1em;
}
.contrast-ratio .rating {
  display: inline-block;
  text-align: center;
  margin-left: 0.5em;
}
.preview-container {
  position: relative;
}
.underlay-preview {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 10px;
  right: 10px;
}
.theme-tab {
  padding-bottom: 2em;
}
.theme-tab .theme-warning {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: baseline;
      align-items: baseline;
  margin-bottom: 0.5em;
}
.theme-tab .theme-warning .buttons .btn {
  margin-bottom: 0.5em;
}
.theme-tab .preset-switcher {
  margin-right: 1em;
}
.theme-tab .style-control {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: baseline;
      align-items: baseline;
  margin-bottom: 5px;
}
.theme-tab .style-control .label {
  -ms-flex: 1;
      flex: 1;
}
.theme-tab .style-control.disabled input, .theme-tab .style-control.disabled select {
  opacity: 0.5;
}
.theme-tab .style-control .opt {
  margin: 0.5em;
}
.theme-tab .style-control .color-input {
  -ms-flex: 0 0 0px;
      flex: 0 0 0;
}
.theme-tab .style-control input, .theme-tab .style-control select {
  min-width: 3em;
  margin: 0;
  -ms-flex: 0;
      flex: 0;
}
.theme-tab .style-control input[type=number], .theme-tab .style-control select[type=number] {
  min-width: 5em;
}
.theme-tab .style-control input[type=range], .theme-tab .style-control select[type=range] {
  -ms-flex: 1;
      flex: 1;
  min-width: 3em;
  -ms-flex-item-align: start;
      align-self: flex-start;
}
.theme-tab .reset-container {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.theme-tab .fonts-container,
.theme-tab .reset-container,
.theme-tab .apply-container,
.theme-tab .radius-container,
.theme-tab .color-container {
  display: -ms-flexbox;
  display: flex;
}
.theme-tab .fonts-container,
.theme-tab .radius-container {
  -ms-flex-direction: column;
      flex-direction: column;
}
.theme-tab .color-container {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
}
.theme-tab .color-container > h4 {
  width: 99%;
}
.theme-tab .fonts-container,
.theme-tab .color-container,
.theme-tab .shadow-container,
.theme-tab .radius-container,
.theme-tab .presets-container {
  margin: 1em 1em 0;
}
.theme-tab .tab-header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: baseline;
      align-items: baseline;
  width: 100%;
  min-height: 30px;
  margin-bottom: 1em;
}
.theme-tab .tab-header p {
  -ms-flex: 1;
      flex: 1;
  margin: 0;
  margin-right: 0.5em;
}
.theme-tab .tab-header-buttons {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}
.theme-tab .tab-header-buttons .btn {
  min-width: 1px;
  -ms-flex: 0 auto;
      flex: 0 auto;
  padding: 0 1em;
  margin-bottom: 0.5em;
}
.theme-tab .shadow-selector .override {
  -ms-flex: 1;
      flex: 1;
  margin-left: 0.5em;
}
.theme-tab .shadow-selector .select-container {
  margin-top: -4px;
  margin-bottom: -3px;
}
.theme-tab .save-load,
.theme-tab .save-load-options {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: baseline;
      align-items: baseline;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.theme-tab .save-load .presets,
.theme-tab .save-load .import-export,
.theme-tab .save-load-options .presets,
.theme-tab .save-load-options .import-export {
  margin-bottom: 0.5em;
}
.theme-tab .save-load .import-export,
.theme-tab .save-load-options .import-export {
  display: -ms-flexbox;
  display: flex;
}
.theme-tab .save-load .override,
.theme-tab .save-load-options .override {
  margin-left: 0.5em;
}
.theme-tab .save-load-options {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 0.5em;
  -ms-flex-pack: center;
      justify-content: center;
}
.theme-tab .save-load-options .keep-option {
  margin: 0 0.5em 0.5em;
  min-width: 25%;
}
.theme-tab .preview-container {
  border-top: 1px dashed;
  border-bottom: 1px dashed;
  border-color: #222;
  border-color: var(--border, #222);
  margin: 1em 0;
  padding: 1em;
  background-color: var(--wallpaper);
  background-image: var(--body-background-image);
  background-size: cover;
  background-position: 50% 50%;
}
.theme-tab .preview-container .dummy .post {
  font-family: var(--postFont);
  display: -ms-flexbox;
  display: flex;
}
.theme-tab .preview-container .dummy .post .content {
  -ms-flex: 1;
      flex: 1;
}
.theme-tab .preview-container .dummy .post .content h4 {
  margin-bottom: 0.25em;
}
.theme-tab .preview-container .dummy .post .content .icons {
  margin-top: 0.5em;
  display: -ms-flexbox;
  display: flex;
}
.theme-tab .preview-container .dummy .post .content .icons i {
  margin-right: 1em;
}
.theme-tab .preview-container .dummy .after-post {
  margin-top: 1em;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}
.theme-tab .preview-container .dummy .avatar, .theme-tab .preview-container .dummy .avatar-alt {
  background: linear-gradient(135deg, #b8e1fc 0%, #a9d2f3 10%, #90bae4 25%, #90bcea 37%, #90bff0 50%, #6ba8e5 51%, #a2daf5 83%, #bdf3fd 100%);
  color: black;
  font-family: sans-serif;
  text-align: center;
  margin-right: 1em;
}
.theme-tab .preview-container .dummy .avatar-alt {
  -ms-flex: 0 auto;
      flex: 0 auto;
  margin-left: 28px;
  font-size: 12px;
  min-width: 20px;
  min-height: 20px;
  line-height: 20px;
  border-radius: 10px;
  border-radius: var(--avatarAltRadius, 10px);
}
.theme-tab .preview-container .dummy .avatar {
  -ms-flex: 0 auto;
      flex: 0 auto;
  width: 48px;
  height: 48px;
  font-size: 14px;
  line-height: 48px;
}
.theme-tab .preview-container .dummy .actions {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: baseline;
      align-items: baseline;
}
.theme-tab .preview-container .dummy .actions .checkbox {
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-align: baseline;
      align-items: baseline;
  margin-right: 1em;
  -ms-flex: 1;
      flex: 1;
}
.theme-tab .preview-container .dummy .separator {
  margin: 1em;
  border-bottom: 1px solid;
  border-color: #222;
  border-color: var(--border, #222);
}
.theme-tab .preview-container .dummy .btn {
  min-width: 3em;
}
.theme-tab .radius-item,
.theme-tab .color-item {
  min-width: 20em;
  margin: 5px 6px 0 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex: 1 1 0px;
      flex: 1 1 0;
}
.theme-tab .radius-item.wide,
.theme-tab .color-item.wide {
  min-width: 60%;
}
.theme-tab .radius-item:not(.wide):nth-child(2n+1),
.theme-tab .color-item:not(.wide):nth-child(2n+1) {
  margin-right: 7px;
}
.theme-tab .radius-item .color, .theme-tab .radius-item .opacity,
.theme-tab .color-item .color,
.theme-tab .color-item .opacity {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: baseline;
      align-items: baseline;
}
.theme-tab .radius-item {
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
}
.theme-tab .theme-radius-rn,
.theme-tab .theme-color-cl {
  border: 0;
  box-shadow: none;
  background: transparent;
  color: var(--faint, rgba(185, 185, 186, 0.5));
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
}
.theme-tab .theme-color-cl,
.theme-tab .theme-radius-in,
.theme-tab .theme-color-in {
  margin-left: 4px;
}
.theme-tab .theme-radius-in {
  min-width: 1em;
}
.theme-tab .theme-radius-in {
  max-width: 7em;
  -ms-flex: 1;
      flex: 1;
}
.theme-tab .theme-radius-lb {
  max-width: 50em;
}
.theme-tab .theme-preview-content {
  padding: 20px;
}
.theme-tab .btn {
  margin-left: 0.25em;
  margin-right: 0.25em;
}
.extra-content .apply-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-positive: 1;
      flex-grow: 1;
}
.extra-content .apply-container .btn {
  -ms-flex-positive: 1;
      flex-grow: 1;
  min-height: 2em;
  min-width: 0;
  max-width: 10em;
  padding: 0;
}
.settings_tab-switcher {
  height: 100%;
}
.settings_tab-switcher .setting-item {
  border-bottom: 2px solid var(--fg, #182230);
  margin: 1em 1em 1.4em;
  padding-bottom: 1.4em;
}
.settings_tab-switcher .setting-item > div,
.settings_tab-switcher .setting-item > label {
  display: block;
  margin-bottom: 0.5em;
}
.settings_tab-switcher .setting-item > div:last-child,
.settings_tab-switcher .setting-item > label:last-child {
  margin-bottom: 0;
}
.settings_tab-switcher .setting-item .select-multiple {
  display: -ms-flexbox;
  display: flex;
}
.settings_tab-switcher .setting-item .select-multiple .option-list {
  margin: 0;
  padding-left: 0.5em;
}
.settings_tab-switcher .setting-item:last-child {
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 1em;
}
.settings_tab-switcher .setting-item select {
  min-width: 10em;
}
.settings_tab-switcher .setting-item textarea {
  width: 100%;
  max-width: 100%;
  height: 100px;
}
.settings_tab-switcher .setting-item .unavailable,
.settings_tab-switcher .setting-item .unavailable svg {
  color: var(--cRed, #ff0000);
  color: #ff0000;
}
.settings_tab-switcher .setting-item .number-input {
  max-width: 6em;
}

/*# sourceMappingURL=2.4e6541aa0979ab5fe8ab.css.map*/