<h2><%= dpgettext("static_pages", "password reset successful message", "Password changed!") %></h2>
<h3><a href="<%= Pleroma.Web.Endpoint.url() %>"><%= dpgettext("static_pages", "password reset successful homepage link", "Homepage") %></a></h3>
