<h2><%= dpgettext("static_pages", "password reset failed message", "Password reset failed") %></h2>
<h3>
  <a href="<%= Pleroma.Web.Endpoint.url() %>">
    <%= dpgettext("static_pages", "password reset failed homepage link", "Homepage") %>
  </a>
</h3>
